---
import BaseLayout from '../layouts/DefautLayout.astro';
import Footer from '../components/Footer.svelte';
---

<BaseLayout title="Page Not Foung" bg="bg-gray-800">
    <Footer>
        <div class="prose-lg p-12 w-full bg-gray-800">
            <h1 class="w-full text-center text-white">Oops, page cannot be found.</h1>
        </div>
    </Footer >
</BaseLayout>