---
// src/pages/index.astro
import BaseLayout from '../layouts/DefautLayout.astro';
import Footer from '../components/Footer.svelte';

---
<BaseLayout title="Comittee">
    <div class="w-full">
    <section class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-4 py-12">
        <div class="text-left pb-12">
            <h4 class="text-7xl lg:text-8xl tracking-widest font-bold leading-snug text-black">
                Committee<span class="text-yellow-500">.</span>
            </h4>
            <h4 class="font-bold text-2xl md:text-2xl lg:text-2xl font-heading text-gray-900">
                In case you forgot who to go to with your club-related problems, team related problems, kit-related problems, dog-related problems etc, please see below.
            </h4>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/rob.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Rob Clark</p>
                    <p class="text-base text-gray-400 font-normal">Chairperson / Kit Secretary / TV Procurement</p>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/crawly.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Jack Crawley</p>
                    <p class="text-base text-gray-400 font-normal">Club Captain/ All round good guy</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/siena.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Siena Hammond</p>
                    <p class="text-base text-gray-400 font-normal">Welfare/Inclusivity Officer / Shoulder to cry on</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/ali.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Alicia Perez</p>
                    <p class="text-base text-gray-400 font-normal">Club Secretary</p>
                </div>
            </div>             
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/alice.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Alice Innes</p>
                    <p class="text-base text-gray-400 font-normal">Social Secretary / Dog Girl and Social media “Influencer”</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/shayne.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Shayne Prior</p>
                    <p class="text-base text-gray-400 font-normal">Social Secretary / The Engine</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/aleks.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Aleks Arandov</p>
                    <p class="text-base text-gray-400 font-normal">Treasurer / Money-bags / PT, Gentle Giant</p>
                </div>
            </div>               
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/hillcroft_lacrosse_club_logo.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Gerome Pencil</p>
                    <p class="text-base text-gray-400 font-normal">Junior Development Officer/ Stationery Secretary</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/ridings.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Tom Ridings</p>
                    <p class="text-base text-gray-400 font-normal">Alumni Guy / Digital</p>
                </div>
            </div>          
        </div>
        <div class="text-left pb-12">
            <h4 class="text-3xl lg:text-6xl tracking-widest font-bold leading-snug text-black">
                Los Capitanos<span class="text-yellow-500">.</span>
            </h4>
        </div>
        <div class="text-left pb-6">
            <h4 class="font-bold text-3xl md:text-3xl lg:text-33xl font-heading text-gray-900">
               Womens 1s 
            </h4>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/lily.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Lily Ashcroft</p>
                    <p class="text-base text-gray-400 font-normal">Captain</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/jess.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Jess Currie</p>
                    <p class="text-base text-gray-400 font-normal">Vice Captain</p>
                </div>
            </div>             
        </div>
        <div class="text-left pb-6">
            <h4 class="font-bold text-3xl md:text-3xl lg:text-33xl font-heading text-gray-900">
               Womens 2s 
            </h4>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/haylie.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Haylie Francis</p>
                    <p class="text-base text-gray-400 font-normal">Captain</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/megan.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Megan Siarey</p>
                    <p class="text-base text-gray-400 font-normal">Vice Captain</p>
                </div>
            </div>             
        </div>
        <div class="text-left pb-6">
            <h4 class="font-bold text-3xl md:text-3xl lg:text-33xl font-heading text-gray-900">
               Mens 1s 
            </h4>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/hp.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Harry Perry</p>
                    <p class="text-base text-gray-400 font-normal">Captain</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/hillcroft_lacrosse_club_logo.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Andrew Hopkins</p>
                    <p class="text-base text-gray-400 font-normal">Vice Captain</p>
                </div>
            </div>             
        </div>
        <div class="text-left pb-6">
            <h4 class="font-bold text-3xl md:text-3xl lg:text-33xl font-heading text-gray-900">
               Mens 2s 
            </h4>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/kemp.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Matt Kemp</p>
                    <p class="text-base text-gray-400 font-normal">Captain</p>
                </div>
            </div>       
        </div>
        <div class="text-left pb-6">
            <h4 class="font-bold text-3xl md:text-3xl lg:text-33xl font-heading text-gray-900">
               Mens 3s 
            </h4>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-6">
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/joe.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Joe Watts</p>
                    <p class="text-base text-gray-400 font-normal">Captain</p>
                </div>
            </div>
            <div class="w-full bg-white rounded-lg sahdow-lg overflow-hidden flex flex-col justify-center items-center">
                <div>
                    <img class="object-center object-cover h-auto w-full rounded-md" src="/images/hillcroft_lacrosse_club_logo.png" alt="photo">
                </div>
                <div class="text-center py-8 sm:py-6">
                    <p class="text-xl text-gray-700 font-bold mb-2">Luke Rawles</p>
                    <p class="text-base text-gray-400 font-normal">Vice Captain</p>
                </div>
            </div>             
        </div>
    </section>
    </div>  

    <Footer/>  

</BaseLayout>
