---
// src/pages/index.astro
import BaseLayout from '../layouts/DefautLayout.astro';
import Footer from '../components/Footer.svelte';
import Constitution from '../content/info/constitution.md';
---


  <BaseLayout title="Consitiution">
    <div class="prose-lg p-12 w-full">
      <Constitution />
      
    </div>
    <Footer />
  

  </BaseLayout>