---
export interface Props {
  image: any;
  image: link;
  image: caption;
}

const { image, caption, link } = Astro.props;
---

<a class="w-full lg:w-1/4 p-2 hover:brightness-90 rounded-sm" href={link} target="_blank">
  <img src={image} class="cover h-full w-full" alt={caption}>
</a>