---
// Component Imports
import Menu from '../components/Menu.svelte';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'Hillcroft Lacrosse Club';
let open = false
---

<style>
	:global(body) {
		padding: 0;
	}
</style>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />

    <!-- seo stuff -->
    <!-- We should look at this instead: https://www.npmjs.com/package/astro-seo -->
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Home | Hillcroft Lacrosse Club London" />
    <meta property="og:url" content="https://hillcroftlacrosse.com/" />
    <meta property="og:site_name" content="Hillcroft Lacrosse Club London" />
    <meta property="article:publisher" content="https://www.facebook.com/hillcroftlacrosse" />
    <meta property="article:modified_time" content="2019-10-07T19:24:17+00:00" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@hillcroftlax" />
    <meta name="twitter:label1" content="Estimated reading time" />
    <meta name="twitter:data1" content="19 minutes" />

    <meta property="og:title" content="Home" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://hillcroftlacrosse.com/" />
    <meta property="og:site_name" content="Hillcroft Lacrosse Club London" />
    <meta property="og:description" content="Hillcroft. 
    London Lacrosse Club. 
    Based in South London, Hillcroft Lacrosse Club boasts three men’s teams, one women’s team and an amazing social scene. We welcome players of all abilities, whether you’ve only just picked up a stick, or have played at an international level. 
    Playing out of Tooting" />
    <meta property="og:image" content="/images/hillcroft_lacrosse_club_logo.png" />

    <meta name="description" content="Hillcroft. London Lacrosse Club. 
    Based in South London, Hillcroft Lacrosse Club boasts three men’s teams, one women’s team and an amazing social scene. We welcome players of all abilities, whether you’ve only just picked up a stick, or have played at an international level. 
    Playing out of Tooting">

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4oCNTaXG2y6KA0t1KRxrnIpKSMPffpGQ"
      async
    ></script>

</head>
<body>
  <div class="relative lg:flex bg-gray-300">
    <Menu client:load />
    <div class="flex-1 pt-8 lg:pt-0 lg:ml-64">
      <slot />
    </div>  
  </div>
</body>
</html>
